<!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="/admin/index/index"><i class="fa fa-dashboard"></i> 首页</a>
                    </li>
                    <li>
                        <a href="ui-elements.html"><i class="fa fa-desktop"></i> 用户列表</a>
                    </li> 
					 
					 <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 权限控制<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="chart.html"> 权限管理</a>
                            </li>
                            <li>
                                <a href="morris-chart.html"> 角色管理</a>
                            </li>
                            <li>
                                <a href="morris-chart.html"> 用户管理</a>
                            </li>
						</ul>
					</li>	
							
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode"></i> 菜单管理</a>
                    </li>
                    
                    <li>
                        <a href="table.html"><i class="fa fa-table"></i> 会员管理</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-edit"></i> 促销管理 <span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="chart.html"> 优惠券</a>
                            </li>
                            <li >
                                <a href="morris-chart.html"> 满减</a>
                            </li>
                            <li>
                                <a href="morris-chart.html"> 返现</a>
                            </li>
                            <li>
                                <a href="morris-chart.html"> 积分</a>
                            </li>
                        </ul>
                    </li>


                    <li>
                        <a href="#"><i class="fa fa-sitemap"></i> 流水单管理</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/admin/merchant/showMerchant"><i class="fa fa-fw fa-file"></i> 餐厅设置</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->